<app-nav></app-nav>


<div class="page-title">
    <h1>Associations List</h1>
</div>


<table mat-table [dataSource]="associations" class="mat-elevation-z8">

    <ng-container matColumnDef="No">
      <th mat-header-cell *matHeaderCellDef> No </th>
      <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let association"> {{association.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let association"> {{association.description}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="associationDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: associationDisplayedColumns;"></tr>
  
</table>
  