fieldset
    margin-top: 2%

legend
    border: 1px solid rgba(0, 0, 0, 0.5)
    border-radius: 4px
    padding: 5px 10px
    font-weight: bold
    font-size: 1.5em

label
    font-weight: bold
    font-size: 1.1em

button
    margin-right: 1%
    margin-top: 1%

table
    width: 100%
    margin-top: 2%

tr
    margin-bottom: 3%

.mat-tab-group
    margin-bottom: 48px

.mat-elevation-z8 
    th
        border: 1px solid rgba(0, 0, 0, 0.67)
        padding-left: 10px
        text-align: start
    td
        border-bottom: 1px solid rgba(0, 0, 0, 0.67)
        border-right: 1px solid rgba(0, 0, 0, 0.67)
        padding: 5px
    

.edit-btn
    background-color: rgba(236, 139, 42, 0.67)

.No
    width: 30px
    
    